.env
new_config.py
data/
__pycache__/
logs/
recordings/
vectorstore/
agent_websocket_PROD_FIXED_v2.py
agent_websocket_PROD_old.py
agents.py
build_vector.py
cleanup_runner.py
cleanup_sessions.py
combine_texts.py
db_utils.py
mailhog.exe
memory.py 
new_config.py 
new_frejun_server_FIXED.py 
models.py
flow_test_locally.py
tty.py
.venv
.vscode
duplex_helper/
build/
user_memory_store/
test.py
time_test.py
